body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 680px;
}

.container {
    width: 350px;
    height: 600px;
    border-radius: 20px;
    background-color: rgb(148, 189, 250);
    box-shadow: 0 0 10px 1px rgb(66, 68, 68);
}

.circle_div {
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #000;   */
}

#circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #000;
    box-shadow: 0 0 10px 2px black;
    animation: rotate 15s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

button {
    border-radius: 20px;
    border: none;
    background-color: transparent;
    position: absolute;
    height: 20px;
    margin-top: 15px;
    margin-left: 25px;
}

#song_tag {
    display: flex;
    margin-top: 10px;
    margin-left: 70px;
    width: 220px;
    overflow: hidden;
}

#para {
    animation: spin 5s linear infinite;
    
}

@keyframes spin {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(-200px);
    }
}

.box {
    height: 100px;
    position: relative;
}

.pa{
    font-size: 12px;
    margin: 0%;


}

.stp{
    display: flex;
    justify-content: space-around;
}

.time{
    display: flex;
    margin: 0%;
    /* margin-left: 240px; */

}

#bar {
    width: 347px;
    height: 70px;
    position: relative;
    /* border: 1px solid #000; */
}

#button {
    display: flex;
    justify-content: space-around;
    height: 50px;
    /* position: absolute; */
    width: 67%;
    /* border: 1px solid #000; */
    margin-top: 50px;
}

#load {
    border-bottom: 1px solid #000;
    border-radius: 12px;
    margin-top: 50px;
    margin-left: 50px;
    width: 240px;
    height: 17px;
}
audio{
    width: 100px;
}